/* Позиционирование: ========================================================================== */
/** Внешний грид ------------------------------------------------------------------------------**/
.outer-container {
    display: grid;
    grid-template-columns: 100vw;
    grid-template-rows: 100vh 15vh 85vh 100vh 70vh 100vh 75vh 50vh;
    gap: 0px 0px;
    grid-auto-flow: row;
    grid-template-areas:
        "header"
        "logos"
        "about"
        "focus"
        "numbers"
        "projects"
        "contact-map"
        "footer";
}

/** Подгрид - раздел Header --------------------------------------------------------------------------**/
.header {
    display: grid;
    grid-template-columns: 0.2fr 1fr 2.4fr 1fr 0.2fr;
    grid-template-rows: 0.1fr 0.5fr 0.9fr 1.8fr 0.9fr 1.8fr;
    align-items: center;
    justify-items: center;
    grid-template-areas:
        ". . . . . "
        ". header-logo navigation-top select ."
        ". . . . . "
        ". . header-text . . "
        ". . video-btn . . "
        ". . . . . ";
}

.header-logo {
    grid-area: header-logo;
    justify-self: left;
}

.navigation-top {
    grid-area: navigation-top;
}

.select {
    grid-area: select;
    justify-self: right;
    align-self: center;
}

.header-text {
    grid-area: header-text;
}

.video-btn {
    grid-area: video-btn;
}

/** Подгрид: раздел Logos --------------------------------------------------------------------**/
.logos {
    display: grid;
    grid-template-columns: 25% repeat(7, 1fr) 25%;
    grid-template-rows: 0.4fr 0.8fr 0.4fr;
    gap: 0px 0px;
    justify-items: center;
    align-items: center;
    grid-template-areas:
        ". . . . . . . . ."
        ". logos-one . logos-two . logos-three . logos-four ."
        ". . . . . . . . .";
}

.logos-one {
    grid-area: logos-one;
}

.logos-two {
    grid-area: logos-two;
}

.logos-three {
    grid-area: logos-three;
}

.logos-four {
    grid-area: logos-four;
}

/** Подгрид: раздел About --------------------------------------------------------------------**/
.about {
    display: grid;
    grid-template-columns: 5% repeat(4, 15%) 5% 17% 8% 5%;
    grid-template-rows: 8.5% 7% 7.5% repeat(4, 13.5%) 7.5% 7% 8.5%;
    gap: 0px 0px;
    justify-items: stretch;
}

.about-textbox {
    grid-area: 3 / 2 / 9 / 6;
}

.about-img-bg {
    grid-area: 2 / 7 / 11 / 10;
    justify-self: right;
}

.about-img {
    grid-area: 2 / 5 / 8 / 8;
    justify-self: center;
    order: 1;
}

/** Подгрид: раздел Focus --------------------------------------------------------------------**/
.focus {
    display: grid;
    grid-template-columns: 1fr repeat(3, 20%) 1fr;
    grid-template-rows: 1fr repeat(2, 40%) 1fr;
    gap: 4% 1.5%;
    grid-template-areas:
        ". . . . ."
        ". focusbox-one focusbox-two focusbox-three ."
        ". focusbox-four focusbox-five focusbox-six ."
        ". . . . .";
}

.focusbox-one {
    border: solid 20px #FFA630;
    grid-area: focusbox-one;
    padding-left: 10%;
    padding-right: 10%;
    padding-top: 10%;
}

.focusbox-two {
    grid-area: focusbox-two;
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr;
    grid-template-rows: repeat(4, 1fr);
    gap: 0px 0px;
    grid-template-areas:
        ". . . ."
        ". . . ."
        ". . . ."
        "focusbox-text2 focusbox-text2 focusbox-text2 .";
}

.focusbox-text2 {
    grid-area: focusbox-text2;
}

.focusbox-three {
    grid-area: focusbox-three;
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr;
    grid-template-rows: repeat(4, 1fr);
    gap: 0px 0px;
    grid-template-areas:
        ". . . ."
        ". . . ."
        ". . . ."
        "focusbox-text3 focusbox-text3 focusbox-text3 .";
}

.focusbox-text3 {
    grid-area: focusbox-text3;
}

.focusbox-four {
    grid-area: focusbox-four;
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr;
    grid-template-rows: repeat(4, 1fr);
    gap: 0px 0px;
    grid-template-areas:
        ". . . ."
        ". . . ."
        ". . . ."
        "focusbox-text4 focusbox-text4 focusbox-text4 .";
}

.focusbox-text4 {
    grid-area: focusbox-text4;
}

.focusbox-five {
    grid-area: focusbox-five;
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr;
    grid-template-rows: repeat(4, 1fr);
    gap: 0px 0px;
    grid-template-areas:
        ". . . ."
        ". . . ."
        ". . . ."
        "focusbox-text5 focusbox-text5 focusbox-text5 .";
}

.focusbox-text5 {
    grid-area: focusbox-text5;
}

.focusbox-six {
    grid-area: focusbox-six;
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr;
    grid-template-rows: repeat(4, 1fr);
    gap: 0px 0px;
    grid-template-areas:
        ". . . ."
        ". . . ."
        ". . . ."
        "focusbox-text6 focusbox-text6 focusbox-text6 .";
}

.focusbox-text6 {
    grid-area: focusbox-text6;
}

/** Подгрид: раздел Numbers --------------------------------------------------------------------**/
.numbers {
    display: grid;
    grid-template-columns: 7% 10% 20% 10% 20% 10% 15% 8%;
    grid-template-rows: 10% 35% 10% 35% 10%;
    gap: 0px 0px;
    justify-items: center;
    align-items: start;
    grid-template-areas:
        ". . . . . .  . ."
        ". numbersbox-one numbersbox-one  numbersimg2 numbersbox-two  numbersimg3 numbersbox-three ."
        ". . . . . . .  ."
        ". numbersimg4 numbersbox-four  numbersimg5 numbersbox-five  numbersimg6 numbersbox-six ."
        ". . . . . . . .";
}

.numbersbox-one {
    grid-area: numbersbox-one;
    margin-left: 15%;
}

.numbersimg2 {
    grid-area: numbersimg2;
    justify-self: right;
    margin-right: 20px;
}

.numbersbox-two {
    grid-area: numbersbox-two;
}

.numbersimg3 {
    grid-area: numbersimg3;
    justify-self: right;
    margin-right: 20px;
}

.numbersbox-three {
    grid-area: numbersbox-three;
}

.numbersimg4 {
    grid-area: numbersimg4;
    justify-self: right;
    margin-right: 20px;
}

.numbersbox-four {
    grid-area: numbersbox-four;
}

.numbersimg5 {
    grid-area: numbersimg5;
    justify-self: right;
    margin-right: 20px;
}

.numbersbox-five {
    grid-area: numbersbox-five;
}

.numbersimg6 {
    grid-area: numbersimg6;
    justify-self: right;
    margin-right: 20px;
}

.numbersbox-six {
    grid-area: numbersbox-six;
}

/** Подгрид: раздел Projects --------------------------------------------------------------------**/
.projects {
    display: grid;
    grid-template-columns: 1fr repeat(3, 20%) 1fr;
    grid-template-rows: 1fr repeat(2, 40%) 1fr;
    gap: 4% 1.5%;
    grid-template-areas:
        ". . . . ."
        ". projectbox-two projectbox-two projectbox-one ."
        ". projectbox-three projectbox-four projectbox-five ."
        ". . . . .";
}

.projectbox-one {
    border: solid 20px #FFA630;
    grid-area: projectbox-one;
    padding-right: 10%;
    padding-left: 10%;
    padding-top: 10%;
    text-align: right;
}

.projectbox-two {
    grid-area: projectbox-two;
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr;
    grid-template-rows: repeat(4, 1fr);
    gap: 0px 0px;
    grid-template-areas:
        ". . . ."
        ". . . ."
        ". . . ."
        "projectbox-text2 projectbox-text2 projectbox-text2 .";
}

.projectbox-text2 {
    grid-area: projectbox-text2;
}

.projectbox-three {
    grid-area: projectbox-three;
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 0.5fr;
    grid-template-rows: repeat(4, 1fr);
    gap: 0px 0px;
    grid-template-areas:
        ". . . ."
        ". . . ."
        ". . . ."
        "projectbox-text3 projectbox-text3 projectbox-text3 .";
}

.projectbox-text3 {
    grid-area: projectbox-text3;
}

.projectbox-four {
    grid-area: projectbox-four;
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr;
    grid-template-rows: repeat(4, 1fr);
    gap: 0px 0px;
    grid-template-areas:
        ". . . ."
        ". . . ."
        ". . . ."
        "projectbox-text4 projectbox-text4 projectbox-text4 .";
}

.projectbox-text4 {
    grid-area: projectbox-text4;
}

.projectbox-five {
    grid-area: projectbox-five;
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1.5fr;
    grid-template-rows: repeat(4, 1fr);
    gap: 0px 0px;
    grid-template-areas:
        ". . . ."
        ". . . ."
        ". . . ."
        "projectbox-text5 projectbox-text5 projectbox-text5 .";
}

.projectbox-text5 {
    grid-area: projectbox-text5;
}

/** Подгрид: раздел Contact-Map --------------------------------------------------------------------**/
.contact-map {
    display: grid;
    grid-template-columns: 16% 20% 5% 50% 9%;
    grid-template-rows: 10% 15% 65% 10%;
    gap: 0px 0px;
    justify-items: left;
    grid-template-areas:
        ". . .  . ."
        ". red-logo . map ."
        ". contact . map ."
        ". . .  . .";
}

.contact {
    grid-area: contact;
}

.red-logo {
    grid-area: red-logo;
}

.social-media {
    margin-top: 80px;
}

.social-link {
    margin-right: 30px;
}

.map {
    grid-area: map;
}

.map-img {
    width: 100%;
    height: 100%;
    object-fit: contain;
}

/** Подгрид: раздел Footer --------------------------------------------------------------------**/
.footer {
    display: grid;
    grid-template-columns: 11% repeat(3, 12% 3%) 20% 13% 11%;
    grid-template-rows: 15% 70% 15%;
    gap: 0px 0px;
    grid-template-areas:
        ". . . . . . . . . ."
        ". footer-one . footer-two . footer-three . footer-four footer-five ."
        ". copyright copyright . . . . legal legal .";
}

.footer-one {
    grid-area: footer-one;
}

.footer-two {
    grid-area: footer-two;
}

.footer-three {
    grid-area: footer-three;
}

.footer-four {
    grid-area: footer-four;
}

.footer-five {
    grid-area: footer-five;
}

.copyright {
    grid-area: copyright;
}

.legal {
    grid-area: legal;
}

/* Типографика===================================================================================*/
/** Заголовки ----------------------------------------------------------------------------------**/
h1,
h2,
h3 {
    font-family: 'Poppins', sans-serif;
    font-style: normal;
}

h1 {
    font-size: 95px;
    font-weight: 600;
    line-height: 73px;
    letter-spacing: 0.2px;
    margin-bottom: 0.57em;
    text-align: center;
    color: #FFFFFF;
}

h2 {
    font-size: 60px;
    font-weight: 500;
    line-height: 66px;
    letter-spacing: 0.2px;
    text-align: left;
    color: #FFFFFF;
}

h2.focustitle {
    margin: 0px;
}

h2.numbers-title {
    color: #FFA630;
    margin-top: 0;
    margin-bottom: 10px;
}

h2.projects-title {
    text-align: right;
    margin: 0px;
}

h3 {
    font-size: 30px;
    font-weight: 700;
    line-height: 33px;
    letter-spacing: 0.1px;
    text-align: left;
    color: #FFFFFF;
    margin-left: 20px;
    margin-top: 15px;
    margin-bottom: 15px;
}

/** Типографика - раздел Header ---------------------------------------------------------------**/
.navigation-top,
.select {
    font-family: 'Poppins', sans-serif;
    font-size: 18px;
    font-style: normal;
    font-weight: 400;
    line-height: 30px;
    letter-spacing: 0.2px;
    color: #FFFFFF;
}

.menu {
    text-decoration: none;
    text-transform: uppercase;
    color: #FFFFFF;
    text-align: center;
    padding-left: 2vw;
    padding-right: 2vw;
}

p.header-intro {
    font-size: 30px;
    line-height: 42px;
    letter-spacing: 0px;
    text-align: center;
    color: #FFFFFF;
}

/** Типографика: просто текст - все разделы ----------------------------------------------------**/
p {
    font-family: 'Poppins', sans-serif;
    font-size: 18px;
    font-style: normal;
    font-weight: 400;
    line-height: 30px;
    letter-spacing: 0.2px;
    text-align: left;
    color: #FFFFFF;
}

p.about-text {
    padding-top: 8vh;
}

.about-textbox {
    padding-top: 3vh;
    padding-left: 5vw;
    padding-right: 20vw;
}

p.numbers-text {
    color: #EBEBEB;
}

p.address {
    font-size: 10px;
    font-weight: 700;
    line-height: 42px;
    letter-spacing: 0px;
    color: #FFA630;
    margin-top: 0px;
    margin-bottom: 0px;
}

p.contact-text,
p.mail-text {
    margin-top: 0px;
    margin-bottom: 0px;
}

p.mail-text {
    text-decoration: none;
    color: #FFFFFF;
}

/** Типографика - раздел Footer -----------------------------------------------------------------------------**/
h2.footer-title {
    font-size: 14px;
    font-style: normal;
    font-weight: 400;
    line-height: 30px;
    letter-spacing: 0.2px;
    text-align: left;
    color: rgba(255, 255, 255, 0.5);
    text-transform: uppercase;
}

p.footer-address {
    color: rgba(255, 255, 255, 0.5);
}

.copyright {
    font-family: 'Rubik', sans-serif;
    font-size: 12px;
    font-style: normal;
    font-weight: 400;
    line-height: 14px;
    letter-spacing: 0.8px;
    text-align: left;
    color: rgba(255, 255, 255, 0.5);
}

a.footer-link,
a.nav-link {
    font-family: 'Poppins', sans-serif;
    font-size: 14px;
    font-style: normal;
    font-weight: 400;
    line-height: 30px;
    letter-spacing: 0.2px;
    padding-right: 40px;
    text-decoration: none;
    color: rgba(255, 255, 255, 0.5)
}

.footer-five {
    text-align: center;
}

/* Оформление (ссылки, кнопки, картинки)========================================================================== */
/** Оформление: кнопки и ссылки - все разделы ----------------------------------------------------**/
a:hover,
.menu:hover {
    color: #252525;
    text-decoration-line: underline;
}

button:hover {
    cursor: pointer;
}

/** Оформление: выпадающее меню навигации - раздел Header -------------------------------------------------------------------------- **/
/* скрыт по умолчанию */
.dropdown {
    position: relative;
    display: inline-block;

}

.dropdown-content {
    display: none;
    position: absolute;
}

.dropdown:hover .dropdown-content {
    display: block;
}

.dropdown-content {
    background-color: #ffffff;
    color: white;
    width: 190px;
    border: none;
    box-shadow: 0 5px 25px rgba(0, 0, 0, 0.2);
    outline: none;
    padding-top: 5px;
    padding-bottom: 5px;
}

a.nav-link {
    display: block;
    color: #252525;
    text-align: left;
    padding-left: 5px;
}

a.nav-link:hover {
    cursor: pointer;
    color: white;
    text-decoration: none;
    background-color: rgb(102, 101, 101)
}

/** Оформление: кнопка выбора языка - раздел Header -------------------------------------------------------------------------- **/
.select {
    background-color: #25252500;
    color: white;
    width: 90px;
    border: none;
    box-shadow: 0 5px 25px rgba(0, 0, 0, 0.2);
    appearance: button;
    outline: none;
    padding: 11px 21px;
    border-radius: 6px;
}

.langselect {
    color: #252525;
    text-align: left;
}

.select:hover {
    cursor: pointer;
    color: white;
}

/** Оформление: E-mail ссылки - раздел Contact -------------------------------------------------------------------------- **/
a.mail-text {
    color: #FFFFFF;
    text-decoration: none;
}

a.mail-text:hover {
    color: #EF3527;
    text-decoration-line: underline;
}

/** Оформление: ссылки - раздел Footer -------------------------------------------------------------------------- **/
a.footer-link:hover {
    color: #FFA630;
    text-decoration-line: underline;
}

/** Оформление: кнопка видео - раздел Header -------------------------------------------------------------------------- **/
.video-btn {
    background-color: #25252500;
    border: none;
}

/** Оформление: кнопка SEE ALL - раздел Projects -------------------------------------------------------------------------- **/
.red-btn {
    outline: none;
    padding: 10px 20px;
    font-family: 'Poppins', sans-serif;
    font-size: 16px;
    font-style: normal;
    font-weight: 700;
    line-height: 16px;
    letter-spacing: 0.2px;
    border: none;
    margin-top: 40px;
    color: #37392E;
    background: #EF3527;
}

/** Оформление: картинки (по порядку)---------------------------------------------------------------------------------- **/


/** Оформление: фон**--------------------------------------------------------------------------------------------------**/
/***Фоновое изображение - раздел Header***/
.header {
    background: url('../images/header-bg.png');
    background-size: cover;
}

/** Фон: раздел Logos --------------------------------------------------------------------**/
.logos {
    background-color: rgba(255, 255, 255, 1);
    background-size: cover;
}

/** Фон: разделы About, Focus, Projects, Contact-Map, Footer-----------------------------------------------**/
.about,
.focus,
.projects,
.contact-map,
.footer {
    background-color: #252525;
    background-size: cover;
}

footer {
    border-top: solid 1px rgba(255, 255, 255, 0.5);
}

/***Фоновые изображения - раздел Focus***/
.focusbox-two {
    background: url('../images/focus-img2.png');
    background-size: contain;
    background-repeat: no-repeat;
}

.focusbox-three {
    background: url('../images/focus-img3.png');
    background-size: contain;
    background-repeat: no-repeat;
}

.focusbox-four {
    background: url('../images/focus-img4.png');
    background-size: contain;
    background-repeat: no-repeat;
}

.focusbox-five {
    background: url('../images/focus-img5.png');
    background-size: contain;
    background-repeat: no-repeat;
}

.focusbox-six {
    background: url('../images/focus-img6.png');
    background-size: contain;
    background-repeat: no-repeat;
}

/***Фоновые изображения - раздел Projects***/
.projectbox-two {
    background: url('../images/project-img2.png');
    background-size: contain;
    background-repeat: no-repeat;
}

.projectbox-three {
    background: url('../images/project-img3.png');
    background-size: contain;
    background-repeat: no-repeat;
}

.projectbox-four {
    background: url('../images/project-img4.png');
    background-size: contain;
    background-repeat: no-repeat;
}

.projectbox-five {
    background: url('../images/project-img5.png');
    background-size: contain;
    background-repeat: no-repeat;
}

/***Фон под текстом - разделы Focus, Projects***/
.focusbox-text2,
.focusbox-text3,
.focusbox-text4,
.focusbox-text5,
.focusbox-text6,
.projectbox-text2,
.projectbox-text3,
.projectbox-text4,
.projectbox-text5 {
    background-color: #252525;
}

/** Фон: раздел Numbers --------------------------------------------------------------------**/
.numbers,
.about-textbox {
    background-color: #EF3527;
    background-size: cover;
}